<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
	<body>
		<div class=".banner">
			<div>
				<img src="./../public/images/logo.png" alt="logo" >
			</div>		
			<div>
				<input type="submit" value="SMARTPHONES" >
				<input type="submit" value="TABLETS" >
				<input type="submit" value="COMPUTADORAS" >
			</div>	
			<div>
				<input type="submit" value="LOGIN" >
				<input type="submit" value="REGISTRO" >
			</div>

		</div>
					 
		
		
	</body>
</html>