
 body {
  min-height: 100vh;
  margin: 0;
  font-family: verdana, geneva, sans-serif;
  font-size: 18px;
  width: 900px;
}
h1 {
  font-family: tahoma, helvetica, sans-serif;
  color: #000000;
  line-height: 46px;
}
h3 {
  font-size: 25px;
  line-height: 38px;
  font-family: tahoma, helvetica, sans-serif;
}
p {
  font-size: 18px;
  color: #333;
  line-height: 27px;
}
h2{
  font-size: 25px;
  line-height: 38px;
  font-family: tahoma, helvetica, sans-serif;
}
